<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Failure | EHR Portal</title>
</head>
    <body>
        <h1>Signup Failure: Non-Authenticated Admin Signup</h1>
        <p1>[INFO]:You are not allowed to use the domain '@audit.usc.edu'</p1><br>
        <p1>Please contact your database administrator</p1>

        <h2><u>Return To Homepage</u></h2>
        <a href="/">Homepage</a>

        <h2><u>Return To Login</u></h2>
        <a href="/login">Login</a>
    </body>
</html>